<div class='validation-error'></div>
{{#if isProfileMode}}
  <div class='profile-item'>
    <div>{{text}}</div>
    <div class="profile-value">
      {{{inputField}}}
    </div>
  </div>
{{else}}
  <div>
    {{{inputField}}}
  </div>
{{/if}}
