.form-input{
    border: none;
    border-bottom: 1px solid $blue;
    width: 280px;
    height: 30px;
    align-self: center;
}

.color-input-base{
    border: 1px solid $gray;
    width: 97%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

.gray-input{
    @extend .color-input-base;

    background: $light-gray;
}
