<div class="flex-wrapper">
    {{> button className='link' label='Вход' click="goToPage('logIn')"}}
    {{> button className='link' label='Авторизация' click="goToPage('signIn')"}}
    {{> button className='link' label='Чат' click="goToPage('chats')"}}
    {{> button className='link' label='Профиль' click="goToPage('profile')"}}
    {{> button className='link' label='500' click="goToPage('serverError')"}}
    {{> button className='link' label='400' click="goToPage('clientError')"}}
</div>