$blue: #3369f3;
$gray: #999;
$red: red;
$white: white;
$light-gray: #efefef;
$gray-border-color: #eaeaea;
$gray-background: #fbfbfb;
$gray-background-message: #f8f8f8;
$blue-background-message: #e4edfd;
$black: black;
