<div class="chat-item">
    <div class="message-avatar-wrapper">
        {{> avatar className='small-avatar'}}
    </div>
    <div class="chat-message-wrapper">
        <div class="name">Name</div>
        <div class="meassage">Message</div>
    </div>
    <div class="chat-info-wrapper">
        <div class="message-time">10:29</div>
        <div class="message-count">2</div>
    </div>
</div>
